@page "/edit-category/"

@inherits EditCategoryBase

<h3>Edit Category</h3>

<EditForm Model="Category" OnValidSubmit="SaveCategory">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="Category.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="Category.Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</EditForm>
